//footer
.footer__section{
    background: var(--footer);
}
//footer top
.quick__link{
    li{
        &:not(:last-child){
            margin-bottom: 7px;
        }
    }
}
.footer__contact{
    li{
        &:not(:last-child){
            margin-bottom: 16px;
        }
        a{
            span{
                width: calc(100% - 40px);
                display: block;
            }
        }
    }
}
.footer__item{
    .footer__logo{
        @include breakpoint(max-xxl){
            max-width: 200px;
            img{
                width: 100%;
            }
        }
    }
    form{
        justify-content: space-between;
        border-radius: 100px;
        border: 1px solid var(--base);
        padding: 8px;
        input{
            outline: none;
            height: 52px;
            width: 100%;
            border-radius: 30px;
            border: unset;
            background: transparent;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 400;
            color: var(--white);
        }
        ::placeholder{
            color: var(--white);
        }
        .cmn--btn{
            border: unset;
            display: flex;  
            align-items: center;
            justify-content: center;
            i{
                margin: 0;
                padding: 0;
            }
        }
    }
}
//footer bottom
.footer__bottom{
    justify-content: space-between;
    padding: 32px 0;
    border-top: 1px solid var(--title);
    @include breakpoint(max-lg){
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 0;
    }
    p{
        text-align: center;
    }
    @include breakpoint(max-xxsmall){
        padding: 25px 0;
    }
}
.help__support{
    gap: 24px;
    @include breakpoint(max-xxsmall){
        flex-wrap: wrap;
        gap: 2px 20px;
        justify-content: center;
    }
}
//footer

//subcribtion section
.subcribtion__wrapper{
    border-radius: 16px;
    padding: 80px 0 80px;
    background: #fff;
    transform: translateY(-200px);
    margin-bottom: -200px;
    margin-top: 200px;
    &::before{
        position: absolute;
        content: "";
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
        opacity: 0.1;
        border-radius: 16px;
    }
    .subscribe__content{
        max-width: 560px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        opacity: 1;
        form{
            justify-content: space-between;
            background: var(--white);
            border-radius: 100px;
            padding: 12px 12px;
            input{
                width: 100%;
                background: transparent;
                outline: none;
                border: unset;
                color: var(--pragraph2);
                font-size: 16px;
                font-weight: 400;
                padding-left: 12px;
                @include inter;
                @include breakpoint(max-sm){
                    padding-left: 8px;
                    font-size: 12px;
                }
            }
            .cmn--btn{
                padding: 0;
                width: 180px;
                padding: 5px 5px 8px;
                height: 45px;
                border: unset;
                @include breakpoint(max-sm){
                    font-size: 14px;
                }
            }
        }
    }
    .ball{
        position: absolute;
        top: 60px;  
        right: 100px;
        width: 150px;
        height: 150px;
        animation: cir360 8s linear infinite;
        z-index: -1;
        img{
            width: 100%;
        }
    }
    .rarrow1{
        position: absolute;
        bottom: 112px;
        left: 86px;
        z-index: -1;
        @include breakpoint(max-lg){
            display: none;
        }
    }
    .rarrow2{
        position: absolute;
        bottom: 0px;
        right: 86px;
        z-index: -1;
        @include breakpoint(max-lg){
            display: none;
        }
    }
    @include breakpoint(max-md){
        padding: 60px 20px 60px;
        h2{
            font-size: 29px;
        }
    }
    @include breakpoint(max-sm){
        padding: 40px 15px 50px;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }
    }
}
//subcribtion two section
.subscribtion__wrappertwo{
    // margin-top: 0;
    &::before{
        display: none;
    }
}
//subcribtion section