


:root {
    --body: #ffffff;
    --white: #ffffff;
    --title: #222E48;
    --subtitle: #222E48;
    --base: #1A4DBE;
    --base2: #FF826B;
    --base3: #FFBE57;
    --neutral: #071431;
    --pragraph: #576071;
    --pragraph2: #404A60;
    --pragraph3: #354764;
    --border: #DFE0E4;
    --danger: #ED5050;
    --success: #3FCA90;
    --ratting: #FFBE57;
    --mborder: #c9d5f0c9;
    --footer: #071431;
    --boxes1: rgba(26, 77, 190, 0.05);
    --boxes2: #FFF3F0;
    --boxes3: #FFF9EE;
    --boxes4: #E8EDF9;
    --borderdot: #C1C4CC;
    --icolor1: #9C4F41;
    --icolor2: #9C7435;
    --pagination: #1C1B1F;
    --whitep: #F5F6F7;
    --bartext: #243757;
    --barbg: #EBEBFD;
    --tableborder: #EBECEF;
}